.nav-sidebar-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  width: 300px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.logo-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.logo {
  height: 80px;
  width: 80px;
}

.nav-list-items {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.nav-list-items li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

li p {
  padding: 10px;
}
